@font-face {
    font-display: swap;
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/noto-sans-jp-v53-japanese_latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    font-family: 'Noto Sans JP';
}

html, body {
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-image: url("images/background.svg");
    background-color: #f2f2f2ff;

    animation: background-scroll 8.0s linear infinite;
}

@keyframes background-scroll {
    0% {
        background-position : 0px 0px
    }

    100% {
        background-position : -128px -128px
    }
}

#settings {
    display: block;

    width: 48px;
    height: 48px;

    position: fixed;
    left: 1rem;
    top: 1rem;

    background-image: url("images/settings.svg");
    background-size: cover;
    background-repeat: no-repeat;

    cursor: pointer;

    &:hover {
        filter: invert(0.4);
    }
}

#settings-dialog {
    display: none;

    /* width: 48px;
    height: 48px; */

    position: fixed;
    left: 1rem;
    top: calc(1rem + 48px);

    padding: 1rem;

    border-radius: 5px;

    /* background:repeating-linear-gradient(45deg, #fff 0%, #fff 6%, #f5f5f5 6%, #f5f5f5 12%); */

    /* background: repeating-linear-gradient(45deg, skyblue 0%, skyblue 12%, #9bdffa 12%, #9bdffa 24%); */
    background:repeating-linear-gradient(45deg, #b8b8b8 0%, #b8b8b8 6%, #d9d9d9 6%, #d9d9d9 12%);

    -webkit-box-shadow: 0px 8px 0px 0px #000000; 
    box-shadow: 0px 8px 0px 0px #000000;
}

#combo {
    /* background-color: orange; */
    background:repeating-linear-gradient(45deg, orange 0%, orange 6%, #ffbf49 6%, #ffbf49 12%);

    position: fixed;
    right: 1rem;
    top: 1rem;

    width: 100px;
    height: 50px;

    font-size: 20pt;
    font-weight: bold;

    color: white;

    border-radius: 50%;

    justify-content: center;
    align-items: center;

    transition: transform .2s;
    transform: rotate(12deg);
}

.timer-container {
    position: relative;
    width: 25%;
    height: auto;

    aspect-ratio: 1/1;

    .timer-ring {
        transform: rotate(-90deg);
    }
    
    .transform-ring-circle {
        stroke-dasharray: 314;
        stroke-dashoffset: 314;
        transition: stroke-dashoffset 0.35s; 
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }
}

#vocabulary {
    width: 100%;
    height: 100%;
    position: absolute;

    background: repeating-linear-gradient(45deg, skyblue 0%, skyblue 12%, #9bdffa 12%, #9bdffa 24%);

    color: black;
    aspect-ratio: 1/1;

    border-radius: 50%;

    font-size: 40pt;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    -webkit-box-shadow: 0px 8px 0px 0px #000000; 
    box-shadow: 0px 8px 0px 0px #000000;
}

@keyframes scroll-gradient {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 100%;
    }
  }

#vocabularies {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;

    padding-top: 3rem;
    width: 25%;

    span {
        /* background-color: #d3d3d3; */
        padding: 1rem;
        text-align: center;
        color: black;
        font-weight: 900;

        background:repeating-linear-gradient(45deg, #b8b8b8 0%, #b8b8b8 6%, #d9d9d9 6%, #d9d9d9 12%);

        transition: transform .2s, background-color .2s, box-shadow .2s;
        cursor: pointer;
        font-size: 18pt;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        /* -webkit-box-shadow: 0px 8px 0px 0px #000000; 
        box-shadow: 0px 8px 0px 0px #000000; */

        &:hover {
            transform: scale(1.1);
        }
    }
}

.red-gradiant {
    background:repeating-linear-gradient(45deg, #df0b0b 0%, #df0b0b 6%, #e03636 6%, #e03636 12%) !important;
}

.green-gradiant {
    background:repeating-linear-gradient(45deg, #0ba10b 0%, #0ba10b 6%, #1eb91e 6%, #1eb91e 12%) !important;
}

/* Extra small devices */
@media only screen and (max-width: 600px) {
    .timer-container, #vocabularies {
        width: 70%;
    }

    #vocabulary {
        font-size: 40pt;
    }
}

/* Small devices */
@media only screen and (min-width: 600px) {
    .timer-container, #vocabularies {
        width: 70%;
    }
}

/* Medium devices */
@media only screen and (min-width: 768px) {

}

/* Large devices */
@media only screen and (min-width: 992px) {
    .timer-container, #vocabularies {
        width: 50%;
    }
}

/* Extra large devices */
@media only screen and (min-width: 1200px) {
    .timer-container, #vocabularies {
        width: 25%;
    }
}
  